.DS_Store
*.swp
**/.env*
;w
w;
Session.vim*
node_modules/
appviews/src/main.tsx
storybook/storybook-static/
dash/app/build
dash/app/cypress/screenshots
smoke/cypress.env.json
**/cypress/downloads
**/cypress/videos
**/.next
**/out
**/dist
**/tsconfig.tsbuildinfo
.nx/
