.DS_Store
*.swp
node_modules/
**/.env*
components/storybook-static/
dashboard/build
dashboard/src/components/shared
docs/src/components/shared
marketing/components/shared
marketing/.next
marketing/out
**/tsconfig.tsbuildinfo
