@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  touch-callout: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

input,
textarea {
  touch-callout: default;
  user-select: auto;
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
}

.dark *::-webkit-scrollbar,
body.dark::-webkit-scrollbar {
  width: 12px;
}

.dark *::-webkit-scrollbar-track,
body.dark::-webkit-scrollbar-track {
  background-color: #0f172a;
}

.dark *::-webkit-scrollbar-thumb,
body.dark::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  border-radius: 6px;
}

.dark *::-webkit-scrollbar-thumb:hover,
body.dark::-webkit-scrollbar-thumb {
  background-color: #334155;
}
