@tailwind base;
@tailwind components;
@tailwind utilities;

/* tighten up lists inside of markdown docs */
.prose :where(ul > li):not(:where([class~='not-prose'] *)) {
  font-size: 95%;
  line-height: 1.45;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

/* helps very-small screen callouts w/ floated icon */
.Callout .prose > * {
  margin-top: 0;
}

/* tweak prismjs code blocks */
.code pre[class*='language-'] {
  border-radius: 4px;
  background: #020617;
}
